{% extends "docs_default.html" %}

{% block sidebarblock %}{% endblock %}
{% block sidebarLeftblock %}{% endblock %}

{% block title %}
<title>Ruqqus - Help</title>
<meta name="description" content="Ruqqus Help">
{% endblock %}

{% block content %}
<h1>Ruqqus content statistics</h1>

<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>Statistic</th>
		<th>Value</th>
        <th>Weekly Gain</th>
        <th>Weekly %</th>
	</tr>
</thead>

{% for i in range(data|length) %}
    <tr>
        <td>{{ data[i] }}</td>
        <td>{{ data[data[i]] }}</td>
        <td>{{ data[data[i]] - one_week[one_week[i]] }}</td>
        <td>{{ (one_week[one_week[i]] / data[data[i]]) * 100}}</td>
    </tr>
{% endfor %}
</table>



{% endblock %}